body{
    background-color: #4b4a4a;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 450px;
}

.bot-class{
    justify-content: center;
    align-items: center;
    border: solid rgb(63, 62, 62);
    border-radius: 7px;
    background-color: #ccc;
    padding: 10px;
}

.screen{
    border: solid rgb(63, 62, 62);
    border-radius: 5px;
    height: 110px;
    margin-bottom: 20px;    
}

button{
    width: 55px;
    height: 50px;
    margin: 3px;
}
.span-2{
    width: 120px;
}

.adjust{
    margin-top: 100px;
    margin-left: 600px;
}

.input{
    border: 2px solid red;
    height: 60%;
    word-wrap: break-word;
}
.output{
    border: 2px solid green;
    height: 35%;
    word-wrap: break-word;
}

#c-btn{
    background-color: green;
}
#del-btn{
    background-color: red;
}
.sign{
    background-color: orange;
}
#equal-btn{
    background-color: orange;
}
#dot-btn{
    background-color: black;
    color: white;
}
.data{
    background-color: black;
    color: white;
}